.productsView {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
	margin-top: 2em;
}

@media screen and (min-width: 600px) {
	.productsView {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 2em;
		margin-top: 3em;
	}
}
