.contactForm {
	width: 100%;
}
.contactForm h3 {
	margin: 0.5rem 0;
}
.contactForm form {
	display: flex;
	flex-direction: column;
}
.contactForm label {
	margin-top: 0.5rem;
}
.contactForm input,
.contactForm textarea {
	font-size: 1rem;
	padding: 0.3rem;
	border: none;
	border: 1px solid grey;
}
.contactForm_name {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.contactForm_agreement {
	display: flex;
}

.contactForm button {
	font-size: 1rem;
	width: auto;
	margin-top: 1rem;
	padding: 0.3rem 1rem;
	border: none;
	color: var(--text-color);
	background-color: var(--main-background-color);
	cursor: pointer;
	transition: 0.3s;
}
.contactForm button:hover {
	background-color: var(--button-bg-hover);
}
.contactForm p {
	margin-top: 0.3rem;
	font-size: 0.8rem;
}
.contactForm span {
	color: red;
}
@media screen and (min-width: 600px) {
	.contactForm_name {
		flex-direction: row;
	}
}

@media screen and (min-width: 1000px) {
	.contactForm {
		width: 45%;
	}
}
