/* Styles for .thumb and .carousel in index.css */

.productPhotoCarousel {
	position: relative;
	text-align: center;
	width: 100%;
	max-height: 800px;
}

@media screen and (min-width: 600px) {
	.productPhotoCarousel {
		position: relative;
		max-width: 500px;
		text-align: center;
	}
}
