.signUpScreen_form {
  width: 100%;
  margin-bottom: 2em;
}
.signUpScreen_form h1 {
  margin-bottom: 1rem;
}
.signUpScreen_form form {
  display: flex;
  flex-direction: column;
}
.signUpScreen_form label {
  font-size: 1rem;
}
.signUpScreen_form span {
  color: red;
}
.signUpScreen_form input {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  border: 1px solid rgb(184, 184, 184);
}
.signUpScreen_form_success {
  text-align: center;
}
.signUpScreen_form_success span {
  color: var(--main-background-color);
}
.error_message {
  font-size: 0.8rem;
  color: var(--error-text);
}
.error_input::placeholder {
  font-size: 0.8rem;
  color: var(--error-text);
}

.signUpScreen_form button {
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border: none;
  color: var(--text-color);
  background-color: var(--main-background-color);
  cursor: pointer;
  transition: background-color 0.4s;
}
.signUpScreen_form form button {
  margin-top: 2rem;
}
.signUpScreen_form button:hover {
  background-color: var(--button-bg-hover);
}
.signUpScreen_form_restore {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  color: var(--main-background-color);
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .signUpScreen_form {
    width: 40%;
  }
}
