.aboutUs {
	margin: 2rem 2em;
	text-align: center;
}
.aboutUs_box h2 {
	font-size: 1rem;
	margin-bottom: 1em;
}
.aboutUs_box p {
	font-size: 0.8rem;
}
.aboutUs_box h3 {
	font-size: 0.9rem;
	margin: 1em 0;
}

@media screen and (min-width: 600px) {
	.aboutUs {
		margin: 2rem 8em;
	}
    .aboutUs_box h2 {
        font-size: 1.5rem;
    }
    .aboutUs_box p {
        font-size: 1rem;
    }
    .aboutUs_box h3 {
        font-size: 1.3rem;
    }
}
