.favoritesScreen {
	margin: 1em;
	min-height: 55vh;
}
.favoritesScreen h2 {
	font-size: 1.4rem;
	text-align: center;
}
.favoritesScreen_productsBox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2em;
}
.favoritesScreen_empty {
	margin-top: 1rem;
}

@media screen and (min-width: 600px) {
	.favoritesScreen {
		margin: 1em 4em;
		min-height: 55vh;
	}
	.favoritesScreen h2 {
		font-size: 1.6rem;
		text-align: start;
	}
}
