.ordersList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding: 1rem;
}
.ordersList h1 {
  font-size: 1.5rem;
}
.errorMsg {
  color: var(--error-text);
}

@media screen and (min-width: 600px) {
  .ordersList {
    padding: 2rem 4rem;
  }
  .ordersList h1 {
    font-size: 2rem;
  }
}
