.passwordRecovery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
  padding: 2rem;
}
.passwordRecovery h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.passwordRecovery form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.passwordRecovery form p {
  margin-bottom: 1rem;
}
.passwordRecovery form input {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border: 1px solid rgb(184, 184, 184);
}
.passwordRecovery form button {
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border: none;
  color: var(--text-color);
  background-color: var(--main-background-color);
  cursor: pointer;
  transition: background-color 0.4s;
}
.passwordRecovery form button:hover {
  background-color: var(--button-bg-hover);
}
.error_input::placeholder {
  font-size: 0.8rem;
  color: var(--error-text);
}

@media screen and (min-width: 600px) {
  .passwordRecovery h1 {
    font-size: 2rem;
  }
  .passwordRecovery form {
    width: 50%;
  }
}
