.signUpScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
  min-height: 60vh;
  padding: 2rem;
}

.signUpScreen_toggleView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.signUpScreen_toggleView button {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding: 1rem;
  border: none;
  border: 1px solid rgb(170, 168, 168);
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.4s;
}
.signUpScreen_toggleView button:hover {
  background-color: rgb(214, 213, 213);
}

@media screen and (min-width: 600px) {
  .signUpScreen {
    flex-direction: row;
  }
  .signUpScreen_toggleView {
    width: 40%;
  }
}
