.productPreview,
.productPreview3,
.productPreview4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: auto;
	margin-top: 1rem;
	padding: 0 1rem;
}
.productPreview_img,
.productPreview_img3,
.productPreview_img4 {
	text-align: center;
	width: 100%;
	height: auto;
}
.productPreview_img img,
.productPreview_img3 img,
.productPreview_img4 img {
	width: 50%;
	height: auto;
	cursor: pointer;
}
.productPreview_img_focus {
	position: relative;
}
.productPreview_img_focus_options {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	top: 0.5rem;
	gap: 0.5rem;
	right: 0.5rem;
	width: 2.8rem;
	height: 4.5rem;
	background-color: white;
}
.productPreview_img_focus_options svg {
	font-size: 1.1rem;
	cursor: pointer;
}
.productPreview_info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.5em;
}
.productPreview_info_name {
	font-size: 0.9rem;
}
.productPreview_info_category {
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
	color: var(--text-color2);
}
.productPreview_info_cart {
	animation: show-cart 0.3s forwards;
}

.productPreview_info_cart p {
	margin-top: 1rem;
	font-size: 1rem;
	text-align: end;
	cursor: pointer;
}
.productPreview_info_cart span {
	display: block;
	margin-top: 1rem;
	font-size: 1rem;
	text-align: end;
}
.productPreview_info_cart p::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0%;
	height: 3px;
	background-color: var(--main-background-color);
	transition: width 0.3s ease;
}
.productPreview_info_cart p:hover::after {
	width: 70%;
}
.productPreview_info_price {
	font-size: 0.9rem;
	margin-top: 0.5rem;
	text-align: end;
	color: var(--main-background-color);
}

@media screen and (min-width: 600px) {
	/* Grid-2 */
	.productPreview {
		position: relative;
		width: 45%;
		gap: 0.5rem;
		height: 400px;
		padding: 0;
	}
	.productPreview_img {
		text-align: center;
		height: 100%;
		width: auto;
	}
	.productPreview_img img {
		height: 250px;
		width: 100%;
		object-fit: scale-down;
	}
	/* Grid-3 */
	.productPreview3 {
		position: relative;
		width: 30%;
		gap: 0.5rem;
		height: 360px;
		padding: 0;
	}
	.productPreview_img3 {
		text-align: center;
		height: 100%;
		width: auto;
	}
	.productPreview_img3 img {
		height: 200px;
		width: 100%;
		object-fit: scale-down;
	}
	/* Grid-4 */
	.productPreview4 {
		position: relative;
		width: 23%;
		gap: 0.5rem;
		height: 360px;
		padding: 0;
	}
	.productPreview_img4 {
		text-align: center;
		height: 100%;
		width: auto;
	}
	.productPreview_img4 img {
		height: 180px;
		width: 100%;
		object-fit: scale-down;
	}
	/*  */
	/*  */
	.productPreview_info_name {
		margin-top: 0.5rem;
		font-size: 1.1rem;
	}
	.productPreview_info_category {
		font-size: 1rem;
	}
	.productPreview_info_price {
		font-size: 1.2rem;
	}
}

/* Adnimation */

@keyframes show-cart {
	from {
		transform: translateY(0.5rem);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.zoom {
	animation: zoom ease-out 1s forwards;
}
@keyframes zoom {
	from {
		transform: scale(0.9);
		opacity: 0.5;
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
.show_options {
	animation: show_options ease-out 0.3s forwards;
}
@keyframes show_options {
	from {
		transform: translateX(10px);
		opacity: 0.5;
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@media screen and(min-width:600px) {
	.productPreview {
		padding: 1rem;
	}
	.productPreview_img img {
		width: 12em;
		height: 12em;
	}
}
