.headerBottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 3em;
}
.headerBottom_navigation {
	display: flex;
	gap: 1rem;
}
.headerBottom_navigation a {
	text-decoration: none;
}
.headerBottom_navigation_box {
	position: relative;
}
.headerBottom_navigation_box_menu {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	color: var(--text-color);
	background-color: var(--main-background-color);
}
.headerBottom_navigation_box_options {
	position: absolute;
	background-color: white;
	width: 100%;
	padding: 0.5rem;
}

.headerBottom_navigation_link {
	padding: 0.8rem;
	transition: color 0.3s;
	color: var(--text-color3);
	cursor: pointer;
}
.headerBottom_navigation_link:hover {
	color: var(--main-background-color);
}
.headerBottom_navigation_link_active {
	color: var(--main-background-color);
}
.headerBottom_contact {
	padding: 0.8rem;
}

@media screen and (min-width: 600px) {
	.headerBottom {
		font-size: 1.3rem;
	}
}
