@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
h2 {
	margin: 0;
	padding: 0;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	--main-background-color: rgb(112, 160, 31);
	--text-color: white;
	--text-color2: rgb(76, 76, 76);
	--text-color3: rgb(0, 0, 0);
	--text-color-hover: rgb(102, 102, 102);
	--border-color: rgb(191, 191, 191);
	--button-bg-hover: rgb(91, 129, 24);
	--button-border-hover: rgb(181, 181, 181);
}
